<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div>
      <div class="form__control">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Input text"
          emailValidator
        />
        <span
          *ngIf="
            loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.touched || submitted)
          "
          id="emailErrorMessage"
          class="text-danger"
        >
          <ng-container *ngIf="loginForm.get('email')?.errors?.['required']"
            >Email is required.</ng-container
          >
          <ng-container *ngIf="loginForm.get('email')?.errors?.['invalidEmail']"
            >Invalid email format.</ng-container
          >
        </span>
      </div>
      <div class="form__control">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Input text"
        />
        <span
          *ngIf="
            loginForm.get('password')?.invalid &&
            (loginForm.get('password')?.touched || submitted)
          "
          id="passwordErrorMessage"
          class="text-danger"
        >
          Password is required.
        </span>
      </div>
    </div>
    <div class="form__action">
      <app-button buttonText="LOGIN" type="submit"></app-button>
    </div>
    <div class="form__text">
      If you don't have an account you may
      <a routerLink="/registration"><strong>Registration</strong></a>
    </div>
  </form>
</div>
