<!-- Replace ::text:: with your code -->

<div class="course-info-wrapper">
  <div class="title">{{ course.title }}</div>
  <div class="course-info">
    <div class="course-info__description">
      <div><b>Description:</b></div>
      <div>{{ course.description }}</div>
    </div>
    <div class="course-info__details">
      <div class="course-info__detail">
        <span><b>ID:</b></span>
        <span>{{ course.id }}</span>
      </div>
      <div class="course-info__detail">
        <span><b>Duration:</b></span>
        <span>{{ course.duration }}</span>
      </div>
      <div class="course-info__detail">
        <span><b>Created:</b></span>
        <span>{{ course.creationDate }}</span>
      </div>
      <div class="course-info__detail">
        <span><b>Authors:</b></span>
        <span>{{ getAuthorsWithNamesAndIds() }}</span>
      </div>
    </div>
  </div>
  <div class="navigation-block">
    <app-button buttonText="BACK" (click)="onBackClick()"></app-button>
  </div>
</div>
